@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
  --primary-color: #fbad27;
  --roboto: 'Roboto', sans-serif;
}

.roboto {
  font-family: var(--roboto);
}

/* .btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.text-color {
  color: var(--primary-color);
} */

/* .btn-primary:hover {
  background-color: #976208;
  border-color: #976208;
} */

.bg {
  background: url('/img/header-img-1.jpg') no-repeat center center/cover;
  height: 660px;
}

.header-content {
  margin-top: 10%;
}

.custom-padding {
  padding: 0 20% 0 20%;
}

.card {
  border: 0px;
}

.book-now {
  background-color: var(--primary-color);
}